* {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.Home-container {
  height: 93vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Home-container .left {
  width: 60vw;
  height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Home-container .left .tag-line {
  height: 7vh;
}

.Home-container .left .image {
  height: 90vh;
  background: url("../images/bg1.jpg") no-repeat center;
  background-size: 60vw auto;
}

.Home-container .right {
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation-name: right;
          animation-name: right;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.Home-container .right h2 {
  text-align: center;
  margin-top: 5%;
  padding: 5px 10px;
}

.Home-container .right h2::before {
  content: "Melon";
  color: blue;
  font-size: 40px;
  font-family: 'Italianno', cursive;
}

.Home-container .right h2::after {
  content: "Play";
  color: black;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
}

.Home-container .right h3 {
  color: black;
  text-align: left;
  font-size: 3.5vw;
  margin-top: 5%;
}

.Home-container .right h4 {
  color: black;
  margin-top: 3%;
}

.Home-container .right p {
  color: black;
  margin-top: 2%;
  font-size: 1.1vw;
}

.Home-container .right .start-call-btn {
  width: 15vw;
  margin-top: 5%;
  margin-left: 15%;
  background: blue;
  color: white;
  font-size: 1.3vw;
  padding: 5px 20px;
  border: none;
  border-radius: 20px;
}

.Home-container .right .start-call-btn:hover {
  cursor: pointer;
}

.Home-container .right .bottom {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32vh;
}

.Home-container .right .bottom .about {
  margin-top: 1%;
  width: 450px;
  margin-left: 50px;
  text-align: left;
}

.Home-container .right .bottom .about h5 {
  display: inline;
  font-size: 3vw;
  color: black;
}

.Home-container .right .bottom .about p {
  color: black;
  font-size: 1.2vw;
}

.Home-container .right .bottom .know-more {
  margin-top: 5%;
  font-size: 1.2vw;
  padding: 5px 20px;
  background: orangered;
  color: whitesmoke;
  border-radius: 20px;
  margin-left: 50px;
  width: 12vw;
}

.Home-container .right .bottom .know-more:hover {
  cursor: pointer;
}

@-webkit-keyframes right {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes right {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=Home.css.map */