* {
    margin: 0px;
    padding: 0px;
}

.login-container {
    // border: 2px solid black;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h2 {
        color: black;
        font-size: 30px;

        &::before {
            content: "Melon";
            font-family: 'Italianno', cursive;
            color: blue;
        }

        &::after {
            content: "Play";
            color: black;
            font-family: 'Roboto', sans-serif;
        }

        position: relative;
        bottom: 5%;
    }

    .login-box {

        // border: 2px solid black;
        border-radius: 20px;
        width: 65vw;
        height: 60vh;
        // box-shadow: 10px 10px 20px 10px grey;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        // box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: center;
        .login-image{
            // border: 2px solid blue;
            width: 30vw;
            height: 50vh;
            background: url(../images/login.jpg) no-repeat center;
            background-size: 40vw auto;
        }
        .login-input{
            h3{
                color: black;
                position:relative;
                bottom: 15%;
                font-size: 2vw;
            }
            // border: 2px solid black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 30vw;
            height: 50vh;
            .inputs{
                margin: 3% 0%;
            }
            .input-user{
                // border: 2px solid black;
                border-bottom: 1px solid black;
                color: blueviolet;
                width: 20vw;
                input{
                    // border: 2px solid blue;
                    border: none;
                    width: 15vw;
                    font-size: 1.2vw;
                    padding: 2% 1%;
                    margin-left: 2%;
                }
            }

            .input-user-password{
                // border: 2px solid black;
                border-bottom: 1px solid black;
                color: blueviolet;
                width: 20vw;
                input{
                    // border: 2px solid blue;
                    border: none;
                    width: 15vw;
                    font-size: 1.2vw;
                    padding: 2% 1%;
                    margin-left: 2%;
                }
            }

            .btn-login{
                font-size: 1.4vw;
                padding: 1.5% 4%;
                position: relative;
                top: 10%;
                right: 25%;
                color: white;
                background: blue;
                border-radius: 10px;
                cursor: pointer;
                border: none;
            }
        }
    }
}