* {
  margin: 0px;
  padding: 0px;
}

.signup-container {
  height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup-container h2 {
  color: black;
  font-size: 30px;
  position: relative;
  bottom: 5%;
}

.signup-container h2::before {
  content: "Melon";
  font-family: 'Italianno', cursive;
  color: blue;
}

.signup-container h2::after {
  content: "Play";
  color: black;
  font-family: 'Roboto', sans-serif;
}

.signup-container .signup-box {
  width: 60vw;
  height: 60vh;
  -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 15px 40px 4px;
          box-shadow: rgba(0, 0, 0, 0.56) 0px 15px 40px 4px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: signup-box;
          animation-name: signup-box;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

@-webkit-keyframes signup-box {
  from {
    opacity: 0;
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 0px grey;
            box-shadow: 0px 0px 0px grey;
  }
  to {
    opacity: 1;
    border-radius: 20px;
  }
}

@keyframes signup-box {
  from {
    opacity: 0;
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 0px grey;
            box-shadow: 0px 0px 0px grey;
  }
  to {
    opacity: 1;
    border-radius: 20px;
  }
}

.signup-container .signup-box .signup-image {
  width: 25vw;
  background: url("../images/signup.jpg") no-repeat center;
  background-size: 25vw auto;
}

.signup-container .signup-box .signup-details {
  width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup-container .signup-box .signup-details h3 {
  color: black;
  font-size: 2vw;
}

.signup-container .signup-box .signup-details .input-box {
  width: 30vw;
  height: 50vh;
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup-container .signup-box .signup-details .inp {
  margin: 3% 0%;
}

.signup-container .signup-box .signup-details .user-name {
  color: orangered;
  border-bottom: 1px solid black;
  width: 20vw;
}

.signup-container .signup-box .signup-details .user-name input {
  margin-left: 2%;
  border: none;
  padding: 2% 3%;
  font-size: 1.2vw;
}

.signup-container .signup-box .signup-details .user-email {
  color: orangered;
  border-bottom: 1px solid black;
  width: 20vw;
}

.signup-container .signup-box .signup-details .user-email input {
  margin-left: 2%;
  border: none;
  padding: 2% 3%;
  font-size: 1.2vw;
}

.signup-container .signup-box .signup-details .user-password {
  color: orangered;
  border-bottom: 1px solid black;
  width: 20vw;
}

.signup-container .signup-box .signup-details .user-password input {
  margin-left: 2%;
  border: none;
  padding: 2% 3%;
  font-size: 1.2vw;
}

.signup-container .signup-box .signup-details .confirm-password {
  color: orangered;
  border-bottom: 1px solid black;
  width: 20vw;
}

.signup-container .signup-box .signup-details .confirm-password input {
  margin-left: 2%;
  border: none;
  padding: 2% 3%;
  font-size: 1.2vw;
}

.signup-container .signup-box .signup-details .signup-btn {
  font-size: 1.5vw;
  position: relative;
  top: 10%;
  right: 25%;
  color: white;
  background: orangered;
  border: none;
  padding: 1.5% 4%;
  border-radius: 10px;
  cursor: pointer;
}
/*# sourceMappingURL=signup.css.map */