*{
    margin: 0px;
    padding: 0px;
}

.signup-container{
    // border: 2px solid black;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        color: black;
        font-size: 30px;
        position:relative;
        bottom: 5%;
        &::before {
            content: "Melon";
            font-family: 'Italianno', cursive;
            color: blue;
        }

        &::after {
            content: "Play";
            color: black;
            font-family: 'Roboto', sans-serif;
        }
    }
    .signup-box{
        // border: 2px solid blue;
        width: 60vw;
        height: 50vh;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        border-radius: 10px;
        display: flex;
        .signup-image{
            // border: 2px solid black;
            width: 25vw;
            background: url('../images/signup.jpg') no-repeat center;
            background-size: 25vw auto;
        }
        .signup-details{
            // border: 2px solid blue;
            width: 35vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                color: black;
                font-size: 2vw;
            }
            .input-box{
                // border: 2px solid black;
                width: 30vw;
                height: 35vh;
                margin-top: 3%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .inp{
                margin: 2% 0%;
            }
            .user-name{
                color: orangered;
                // border: 2px solid black;
                border-bottom: 1px solid black;
                width: 20vw;
                input{
                    margin-left: 2%;
                    border: none;
                    padding: 2% 3%;
                    font-size: 1.2vw;
                }
            }
            .user-password{
                color: orangered;
                // border: 2px solid black;
                border-bottom: 1px solid black;
                width: 20vw;
                input{
                    margin-left: 2%;
                    border: none;
                    padding: 2% 3%;
                    font-size: 1.2vw;
                }
            }
            .confirm-password{
                color: orangered;
                // border: 2px solid black;
                border-bottom: 1px solid black;
                width: 20vw;
                input{
                    margin-left: 2%;
                    border: none;
                    padding: 2% 3%;
                    font-size: 1.2vw;
                }
            }
            .signup-btn{
                font-size: 1.5vw;
                position: relative;
                top: 10%;
                right: 25%;
                color: white;
                background: orangered;
                border: none;
                padding: 1.5% 4%;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
}