.video-container{
    // border: 2px solid black;
    height: 100vh;
    .media-stream{
        // border: 2px solid blue;
        height: 100vh;
        width: 100vw;
        video{
            width: 100vw;
            height: 100vh;
        }
        .back-button{
            // border: 2px solid black;
            color: black;
            background: white;
            position: absolute;
            z-index: +1;
            left: 1%;
            top: 2%;
            padding: 4px 4px;
            border-radius: 50%;
            box-shadow: 2px 2px 10px 5px grey;
        }
        .self-camera{
            position: absolute;
            right: 1%;
            top: 1%;
            width: 10vw;
            height: 20vh;
            // border: 2px solid black;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            .camera{
                // border: 2px solid black;
                width: 6vw;
                height: 10vh;
                border-radius: 50%;
                background: white;
                box-shadow: 2px 2px 5px 3px grey;
            }
            .buttons-toggle{
                // border: 2px solid black;
                height: 4vh;
                width: 9vw;
                display: flex;
                justify-content: center;
                align-items: center;
                .self-microphone{
                    // border: 2px solid black;
                    position: relative;
                    right: 20%;
                    color: rgb(0, 0, 255);
                    cursor: pointer;
                }
                .self-video{
                    // border: 2px solid black;
                    color: black;
                    position: relative;
                    left: 20%;
                    cursor: pointer;
                }
            }
        }
    }
    .participants {
        // border: 2px solid black;
        width: 100vw;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        // bottom: -500px;
        // bottom: 0px;
        z-index: +3;
        transition-duration: .5s;

        .participant {
            // border: 2px solid black;
            background: white;
            width: 20vw;
            height: 20vh;
            margin: 0% 1%;
            border-radius: 20px;

            // box-shadow: 5px 5px 20px 10px grey ;
            .participants-icons {
                color: black;
                display: flex;
                position: relative;
                left: 75%;
                top: 80%;

                .mic-icon {
                    margin-right: 5%;
                    color: blue;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .video-icon {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}